<style>
.location-item{
	background: white;
}
md-grid-tile-header {
	background: white !important;
}
.buttons {
	margin-right: 40px !important;
}
.locations-content {
	background: none;
}
.inactive-button {
	color: #D1D1D1 !important;
}
.category-group {
    background-color: #D6E5EE !important;
}
.category-group > md-icon {
	color: #D1D1D1 !important;
}
.animate-hide {
	transition: all linear 0.5s;
	line-height: 20px;
	opacity: 1;
	padding: 10px;
}

.animate-hide.ng-hide {
	line-height: 0;
	opacity: 0;
	padding: 0 10px;
}
.md-no-style {
	padding-left: 60px !important;
}
.map-button{
	left: 0px;
}
</style>
<section layout="row" layout-align="center center" layout-padding>
	<md-input-container flex> 
		<label>{{globalAttr.search}}</label>
		<input ng-model="search.name"> 
	</md-input-container>
	<md-button class="md-fab md-raised md-mini fab-top" ng-click="toggleGoupByCategories()" ng-class="(groupByCategories) ? 'category-group' : ''">
		<md-icon class="material-icons">group_work</md-icon>
	</md-button>
</section>
<md-content flex class="locations-content" >
	<md-list layout-padding class="animate-hide"
			ng-show="(groupByCategories)" ng-repeat="category in allCategories">
		<md-subheader class="md-no-sticky">{{category.name}}</md-subheader>
		<md-list-item 
			md-whiteframe="1" 
			class="md-3-line location-item" 
			ng-repeat="location in locations | filter:search:strict | filter:{categories: category.name}| orderBy:'name'"
			ng-click="viewLocation(location, $event)">
			<md-button class="md-fab md-raised md-mini fab-top md-secondary map-button" ng-click="clickToMap($event, location)">
				<md-icon class="material-icons">location_on</md-icon>
			</md-button>
			<div class="md-list-item-text" layout="column">
				<h3>{{location.name}}</h3>
				<h4>{{location.address}}</h4>
				<p>{{location.coordinates}}</p>
			</div>
			<md-button class="md-fab md-raised md-mini fab-top md-secondary" ng-click="deleteLocation(location, $event, $index)">
				<md-icon class="material-icons">delete</md-icon>
			</md-button>
		</md-list-item>
	</md-list>
	<md-list layout-padding class="animate-hide"
			ng-hide="(groupByCategories)">
		<md-list-item 
			md-whiteframe="1" 
			class="md-3-line location-item" 
			ng-repeat="location in locations | filter:search:strict | orderBy:'name'"
			ng-click="viewLocation(location, $event)"
			layout="row">
			<md-button class="md-fab md-raised md-mini fab-top md-secondary map-button" ng-click="clickToMap($event, location)">
				<md-icon class="material-icons">location_on</md-icon>
			</md-button>
			<div class="md-list-item-text" layout="column">
				<h3>{{location.name}}</h3>
				<h4>{{location.address}}</h4>
				<p>{{location.coordinates}}</p>
			</div>
			<md-button class="md-fab md-raised md-mini fab-top md-secondary" ng-click="deleteLocation(location, $event, $index)">
				<md-icon class="material-icons">delete</md-icon>
			</md-button>
		</md-list-item>
	</md-list>
</md-content>
<bottom-toolbar current-state="Locations"></bottom-toolbar>