<style>
.home-content{
	background: none;
}
.main-whiteframe {
	background: white;
}
.text {
	padding-left: 10px;
}
</style>
<md-content flex="grow" class="home-content" >
	<md-whiteframe class="md-whiteframe-1dp main-whiteframe main-whiteframe"
			layout="column" flex="none">
			<p class="text">Hi and welcome to myLocations.</p>
			<p class="text">The application allows you to manage locations and categories of locations in a friendly manner. 
			But please remember, you must fill all properties when saving an item.</p>
			<p class="text">You must also select at least one category from a list of existing categories when defining a Location.</p> 
			<p class="text">Each screen has a top toolbar with title and an avatar. 
			You can press the avatar to change it and to execute other actions depending on the screen in view (add new locations and categories).</p>
			<p class="text">The application screen has a bottom bar with two iconic buttons for navigation. 
			You can also swipe left or right to switch the screen</p> 
			<p class="text">All Locations are sorted by alphabetical order, and you can choose to view them grouped or ungrouped by category.</p>
			<p class="text">You can view only the locations assigned a specific category in the category view<p>
			<p class="text">In the Locations view you can choose to see the definition of the item by clicking it, 
			or view it in on an actual map by clicking on the "location icon" on the left</p>
			<p class="text">In the map view, by pressing another location you change the coordinates of your location</p>  
			<p class="text">When you click on a location, the device will vibrate. Don't be alarmed :)</p>
***The application exposes a share button which allows sending an email with the list of locations and categories in json format as an attachment (via native bridge support).
	</md-whiteframe>
</md-content>
<span flex></span>
<bottom-toolbar current-state="Home"></bottom-toolbar>